[submodule "unify/vendor/spdlog"]
	path = unify/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "unify/vendor/glfw"]
	path = unify/vendor/glfw
	url = https://github.com/quantanet-dev/glfw
[submodule "unify/vendor/glad"]
	path = unify/vendor/glad
	url = https://github.com/quantanet-dev/glad_precompiled_vulkan13_opengl_41_core
[submodule "unify/vendor/glm"]
	path = unify/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "unify/vendor/imgui"]
	path = unify/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
