[submodule "unify/vendor/spdlog"]
	path = unify/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "unify/vendor/glfw"]
	path = unify/vendor/glfw
	url = https://github.com/quantanet-dev/glfw
[submodule "unify/vendor/glad"]
	path = unify/vendor/glad
	url = https://github.com/quantanet-dev/glad_precompiled_vulkan13_opengl_41_core
